.revenue{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    flex-wrap: wrap;
    gap: 2.5em;
    padding: 30px;
}
.revenue .details{
    width: 400px;
}
.img{
    width: 400px;
}
.img img{
    width: 100%;
}

@media screen and (max-width: 767px) {
    .details h1{
        font-size: 20px;
    }
    .details .built{
        font-size: 17px;
    }
}