.infra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
    flex-wrap: wrap;
    text-align: start;
    background-color: var(--infraColor);
    gap: 1.5em;
}
.infra .details{
    width: 450px;
}
.infra .data{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    gap: 2em;
}
.infra .data .items{
    width: 120px;
}
.data .items h2{
    color: var(--mainRed);
    font-weight: 800;
}
.infra .details h1{
    color: black;
}
.infra .details p{
    color: black;
    font-weight: 500;
}