.engage{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--infraColor);
    padding: 30px;
    text-align: start;
}
.engage .img{
    display: flex;
    justify-content: center;
}
.engage .details{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5em;
}
.engage .details p{
    color: black;
    text-align: start;
    font-weight: 500;
}
.engage .details h1{
    color: black;
}

