.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--mainRed);
    padding: 10px 30px;
}
.navbar a{
    margin: 0 1.5em;
    text-decoration: none;
    color: white;
}
nav .btns{
    position: absolute;
    right: 30px;
    display: flex;
    gap: 1.5em;
    top: 15px;
}
nav .btns .login{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
nav .btns .get{
    background-color: var(--mainRed);
    border: 1px solid white;
    color: white;
    padding: 7px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.navbar .navbar-btn{
    color: white;
    padding: 5px;
    outline: none;
    background: transparent;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-btn{
        visibility: visible;
        opacity: 1;
    }
    .navbar nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--mainRed);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
    nav .btns{
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
    }

}
