.want{
    display: flex;
    justify-content: center;
    background-color: var(--mainRed);
    padding: 50px 0;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: white;
    width: 500px;
}
.details button{
    background-color: white;
    padding: 7px 13px;
    color: var(--mainRed);
    font-weight: 800;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}