.power{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
    text-align: start;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 400px;
}
.img{
    display: flex;
    justify-content: center;
    width: 400px;
}